<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Salida de Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		    <div class="container-fluid">
		        <span class="navbar-brand">Sistema de Inventario</span>
				
		        <div class="d-flex">
					<a class="btn btn-outline-light" th:href="@{/dashboard}">Volver</a>
					<br>
		            <a class="btn btn-outline-light" th:href="@{/auth/logout}">Cerrar sesión</a>
		        </div>
		    </div>
		</nav>

		<div class="container py-5">
		    <h2 class="mb-4">Salida de Productos</h2>

		    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

		    <div class="table-responsive">
		        <table class="table table-bordered table-hover align-middle">
		            <thead class="table-dark text-center">
		                <tr>
		                    <th>ID</th>
		                    <th>Nombre</th>
		                    <th>Cantidad disponible</th>
		                    <th>Realizar salida</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="producto : ${productos}">
		                    <td th:text="${producto.idProducto}"></td>
		                    <td th:text="${producto.nombre}"></td>
		                    <td th:text="${producto.cantidad}"></td>
		                    <td>
		                        <form th:action="@{/salida/disminuir}" method="post" class="d-flex align-items-center">
		                            <input type="hidden" name="idProducto" th:value="${producto.idProducto}">
		                            <input type="number" name="cantidad" min="1" max="${producto.cantidad}" required class="form-control me-2" style="width: 100px;">
		                            <button type="submit" class="btn btn-danger btn-sm">Retirar</button>
		                        </form>
		                    </td>
		                </tr>
		                <tr th:if="${productos.size() == 0}">
		                    <td colspan="5" class="text-center text-muted">No hay productos activos disponibles.</td>
		                </tr>
		            </tbody>
		        </table>
		    </div>

		</div>

</body>
</html>
